.profile-container {
    .Hi-name {
        font-size: 48px;
    }
    .profile-type {
        color: black;
        font-size: 26px;
        &.Premium{
            color: red;
            // font-size: ;
        }
        &.Standard{
            color: #4F3EA5;
        }   
    }
    .paragraph {
        font-size: 16px;
    }
}