.search-filter-bar-container {
    .col:first-child{
        display: flex;
        .filter-field {
            padding-left: 5%;
        }
    }
    .search-field-container{
    .search-field {
        float: right;
        position: relative;
        border-radius: 10px;
        // z-index: 0;
    }
    #icon {
        float: right;
        position: relative;
        // padding-right: 1px;
        // margin-right: 23%;
        // z-index: 1;
    }
}
}