// .search-filter-bar-container {
//     display: flex;
//     flex-direction: row;
//     .filter-field{
//         padding-left: 2%;
//     }
//     .search-field-container {
//         position: relative;
//         float: right;
//     }
    // .search-field-container{
    //     float: right;
    //     // position: fixed;
    // }

.search-filter-bar-container {
    display:flex;
    flex-direction: row;
    .row.justify-content-between {
        width: 100%;
        .search-field{
            float: right;
            position: relative;
        }
    }
    .sort-and-filter {
        display: flex;
    }
}